<%= form_for(greet) do |f| %>
  <% if greet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(greet.errors.count, "error") %> prohibited this greet from being saved:</h2>

      <ul>
      <% greet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :greeting %>
    <%= f.text_area :greeting %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
