<br>
<hr>

<center><h2 style= "margin:20px; padding:20px">

<%= link_to 'Home Page', root_path %>

<%= link_to 'Greetings', greets_path %>

<%= link_to 'Names', firsts_path %>

<%= link_to 'Adjectives', adjectives_path %>

<%= link_to 'Totals', 'pages/other' %>




</h2></center>
<br>


