<h1><center>Home Page</center></h1>

<br>
<p>  </p>
<div style ='background-color: blue'>
<hr>

<h3 style="color:white;"><center><%= link_to "Click Here to Generate Random Greeting below", '' %> </center></h3>


<hr>
</div>
<div>
<br>

 <h2><center><%= Greet.all.sample.greeting%> <%= Adjective.all.sample.description%> <%= First.all.sample.first_name.upcase %>  you're absolutely so ... <%= Adjective.all.sample.description%> ! 
 </h2></center>


</div>
<br>

<br>
<hr>
<div class= "card">
<a href= "https://www.ksl.com/?sid=46210587&nid=148&title=trump-public-lands-will-once-again-be-for-public-use"> "Click here to read about Trump's Amazing visit to Utah" </a>
<br>

<a href= "https://weather.com/weather/5day/l/USUT0142:1:US"> <img src= "http://clipartix.com/wp-content/uploads/2016/04/Snowflakes-snowflake-clipart-transparent-background-free.png"  width="100" height="100"> </a>
<br>
Click Snowflake for Weather in Lehi, Utah
</div>
